body{
    margin:0;
    padding:0;
    background:url("log.jpg");
    background-size: cover;
    font-family: sans-serif;
     }

.loginbox{  width: 320px;
    height: 450px;
    background: #000;
    color: #fff;
    top:20%;
    left:36%;
    position:absolute;
    transform: translate{-50%,-50%}
    box-sizing: border-box;
    padding: 70px 30px;
    opacity:.7;
         }

h1{    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color:red;
  }    
.loginbox p{  margin:0;
    padding: 0;
    font-weight:bold;
           }
.loginbox input{width: 100%;
    margin-bottom:20px;
               }
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
        }
.loginbox input[type="submit"]{
    border: none;
    outline:none;
    height:40px;
    background:#fb2525;
    color: #fff;
    font-size:18px;
    border-radius:20px;
        }
.loginbox input[type="submit"]:hover
{    cursor:pointer;
    background:#ffc107;
    color:#000;
}
.loginbox a{   
    text-decoration:none;
    font-size:12px;
    line-height:20px;
    color: darkgrey;
}
.loginbox a:hover
{  
  color:#ffc107;
}
.active{
  color:#fff;
  background:#e02626;
  border-radius:4px;
}

.hope{
 margin: 10px;
 padding: 0%;
  float: right;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  
  .sidebar a.active {
    background-color: #e02626;
    color: white;
  }
  
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      max-width: 700px;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  
    .sidebar a {
      text-align: center;
      float: none;
    }
  